{
  "$schema": "https://mintlify.com/schema.json",
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Weather API",
    "description": "A sample API to demonstrate weather information retrieval based on IP or city name.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://weather.afonsoveloso.com/1"
    }
  ],
  "paths": {
    "/weather": {
      "get": {
        "description": "Obter as informações meteorológicas para a localização do IP.",
        "responses": {
          "200": {
            "description": "Clima atual para a localização do IP",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "temperature": {
                      "type": "number",
                      "description": "Temperatura atual"
                    },
                    "feelsLike": {
                      "type": "number",
                      "description": "Sensação térmica"
                    },
                    "tempMin": {
                      "type": "number",
                      "description": "Temperatura mínima"
                    },
                    "tempMax": {
                      "type": "number",
                      "description": "Temperatura máxima"
                    },
                    "pressure": {
                      "type": "number",
                      "description": "Pressão atmosférica"
                    },
                    "humidity": {
                      "type": "number",
                      "description": "Umidade do ar"
                    },
                    "windSpeed": {
                      "type": "number",
                      "description": "Velocidade do vento"
                    },
                    "windDeg": {
                      "type": "number",
                      "description": "Direção do vento"
                    },
                    "weather": {
                      "type": "string",
                      "description": "Condição climática"
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição do clima"
                    },
                    "city": {
                      "type": "string",
                      "description": "Cidade"
                    },
                    "country": {
                      "type": "string",
                      "description": "País"
                    },
                    "sunrise": {
                      "type": "integer",
                      "description": "Hora do nascer do sol"
                    },
                    "sunset": {
                      "type": "integer",
                      "description": "Hora do pôr do sol"
                    },
                    "icon": {
                      "type": "string",
                      "description": "Ícone representando o clima"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/weather/city/{cidade}": {
      "get": {
        "description": "Obter a previsão do tempo para uma cidade específica.",
        "parameters": [
          {
            "name": "cidade",
            "in": "path",
            "required": true,
            "description": "Nome da cidade para obter as previsões meteorológicas",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clima para a cidade especificada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "temperature": {
                      "type": "number",
                      "description": "Temperatura atual"
                    },
                    "feelsLike": {
                      "type": "number",
                      "description": "Sensação térmica"
                    },
                    "tempMin": {
                      "type": "number",
                      "description": "Temperatura mínima"
                    },
                    "tempMax": {
                      "type": "number",
                      "description": "Temperatura máxima"
                    },
                    "pressure": {
                      "type": "number",
                      "description": "Pressão atmosférica"
                    },
                    "humidity": {
                      "type": "number",
                      "description": "Umidade do ar"
                    },
                    "windSpeed": {
                      "type": "number",
                      "description": "Velocidade do vento"
                    },
                    "windDeg": {
                      "type": "number",
                      "description": "Direção do vento"
                    },
                    "weather": {
                      "type": "string",
                      "description": "Condição climática"
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição do clima"
                    },
                    "city": {
                      "type": "string",
                      "description": "Cidade"
                    },
                    "country": {
                      "type": "string",
                      "description": "País"
                    },
                    "sunrise": {
                      "type": "integer",
                      "description": "Hora do nascer do sol"
                    },
                    "sunset": {
                      "type": "integer",
                      "description": "Hora do pôr do sol"
                    },
                    "icon": {
                      "type": "string",
                      "description": "Ícone representando o clima"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}